{% extends 'base.html' %} 
{% block page_title %} <title>Issues</title> {% endblock page_title%} 
{% block content %}

<div class="row row-flex">

    {% for issue in issues %}

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default">
        <div class="panel-body">

            <h3>{{ issue.title }}</h3>
            <p><strong>Type: </strong>{{ issue.type }}</p>
            <p class="issue-description"><strong>Description: </strong>{{ issue.description }}</p>
            <p><strong>Requested By: </strong>{{ issue.requested_by }}</p>
            <p><strong>Date Created: </strong>{{ issue.date_created }}</p>
            <p><strong>Status: </strong>{{ issue.status }}</p>
            <p><strong>Date Completed: </strong>{{ issue.completed_date }}</p>
            <p><strong>Upvotes: </strong>{{ issue.upvotes }}</p>
            
            {% if issue.type == "Feature" %}
            
            <p><strong>Price: </strong>£{{ issue.price }}</p>
            
            {% endif %}
            
            <form method="post" action="{% url 'add_to_cart' issue.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add</button>
                    </span>
                </div>
            </form>
         
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
