{% extends 'base.html' %} {% block page_title %}
<title>Issues</title> {% endblock page_title%} {% block content %}

<div class="container">

    <div>
        <h1>Issue Tracker</h1>
    </div>

    <div>
        <p>Welcome to the Issue Tracker. Here you can report and track any bugs you are currently experiencing within your application or request a specific feature you would like to add.</p>
    </div>

    <div>
        <p>We will try to resolve your Bug issues within 3 working days and this will be free of charge. If you would like to add a feature to your application will be aim to complete your request within 4 working weeks. Features are priced at £99.99 each.</p>
    </div>

    <div>
        <p>To add a bug issue or request a feature, first please register or login. Once registered or logged in click the Add Issue link in the navbar or alternatively click <a href="{% url 'addissue' %}">here</a>.</p>
    </div>

    <div>
        <p>Below are the list of issues that have been submitted to date. Here you can check the detail and status of each issue</p>
    </div>

    <div class="row row-flex">
        <div class="col-xs-12 col-sm-12 col-md-12 display panel panel-default">
            <div class="panel-group">
                <div class="panel panel-default">
                    {% for issue in issues %}
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a data-toggle="collapse" data-target="#collapse-{{ issue.pk }}"><h3>{{ issue.title }}</h3></a>
                        </div>
                    </div>
                    <div id="collapse-{{ issue.pk }}" class="panel-collapse collapse issue-padding">
                        <p class="issue-padding"><strong>Issue Type: </strong>{{ issue.issue_type }}</p>
                        <p><strong>Description: </strong>{{ issue.description }}</p>
                        <p><strong>Requested By: </strong>{{ issue.requested_by }}</p>
                        <p><strong>Date Created: </strong>{{ issue.date_created }}</p>
                        <p><strong>Status: </strong>{{ issue.status }}</p>
                        <p><strong>Date Completed: </strong>{{ issue.completed_date }}</p>
                        <p><strong>Upvotes: </strong>{{ issue.upvotes }} <a href="{% url 'upvote' issue.id %}"><i class="far fa-thumbs-up"></i></a></p>
                        {% if request.user.is_superuser %}
                        <a class="btn btn-primary" href="{% url 'editissue' issue.id %}"><i class="fas fa-edit"></i>Edit</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}